.spinner {
  width: 42px;
  height: 42px;
  position: relative;
  margin: 2.2rem auto;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.double_bounce1,
.double_bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--header_color);
  opacity: 0.42;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 1.8s infinite ease-in-out;
}

.double_bounce2 {
  animation-delay: -0.9s;
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
