.contentTitle {
  font-weight: bold;
  text-align: left;
}

.about {
  margin: 20px 0;
  padding: 10px;
}

.justify {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-spacing: -0.05em;
}
