.mainHeader {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  min-height: 8vh;
  background-color: #eee;
}

.headerNavUl {
  margin: 0;
  padding: 0;
}

.headerNavLi {
  text-align: center;
}
