.contentTitle {
  font-weight: bold;
  text-align: left;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-spacing: -0.05em;
}

.imageContainer {
  flex: 1;
  margin-right: 20px;
}

.textContainer {
  flex: 2;
}

.image {
  max-width: 230px;
  box-shadow: 12px 12px 81px 0px rgba(0, 0, 0, 0.75);
  border-radius: 200px;
}

.image:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .imageContainer {
    display: none;
  }
}
