.footer {
  background-color: #424242;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icon > * {
  margin: 0 10px;
  height: 4vmin;
}

.footer p {
  font-size: 2vmin;
}

/*Mobile*/
@media only screen and (max-width: 600px) {
  .footer {
    padding: 1rem;
  }

  .social_icon > * {
    height: 8vmin;
  }

  .footer p {
    font-size: 3vmin;
  }
}