header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: auto;
  background-color: #eee;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

main div {
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: auto;
  background-color: #eee;
}

footer p {
  margin: 0;
}

footer p:first-child {
  margin-right: auto;
}

.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icon > * {
  margin: 0 10px;
  height: 4vmin;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #eee;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
    font-size: 14px;
  }

  nav a {
    text-decoration: none;
    color: #333;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    min-height: auto;
  }

  main div {
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    font-size: 12px;
  }

  footer p {
    margin: 0;
  }

  .social_icon > * {
    margin: 0 10px;
    height: 6vmin;
  }
}
/* Mobile */
