.mainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 8vh;
  background-color: #eee;
}

.headerNavUl {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.headerNavLi {
  margin-left: 10px;
  margin-right: 10px;
}

.headerNavButton {
  color: #333;
  border: none;
  padding: 0;
  background: none;
}

.headerNavButton:hover {
  font-weight: 600;
  color: #333;
}

.buttonActive {
  font-weight: 600;
  color: #333;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .mainHeader {
    padding: 10px;
  }

  .headerNavUl {
    flex-direction: column;
    align-items: center;
  }

  .headerNavLi {
    margin: 10px 0;
    font-size: 14px;
  }
}
/* Mobile */
