.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  min-height: 87vh;
  /* ******************************************************** CHANGE TO 100% *************************************************/
  padding: 15px;
}

.center {
  text-align: center;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .main {
    min-height: 100vh;
  }
}
/* Mobile */
