.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  min-height: 87vh;
  padding: 15px;
}

.centering {
  padding-top: 15px;
  padding-left: 5vh;
  padding-right: 5vh;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .main {
    min-height: 100vh;
  }
}
/* Mobile */
