.contentTitle {
  font-weight: bold;
}

.languages {
  margin: 20px 0;
  padding: 10px;
}

.language {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.language > p {
  font-size: 17px;
}

.proficiency {
  background-color: #eee;
  border-radius: 5px;
  height: 20px;
  margin-top: 5px;
  position: relative;
  width: 35%;
}

.bar {
  background-color: lightgray;
  border-radius: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
