:root {
  --body_background: #f9f9f9;
  --body_color: #242424;
  --body_background_footer: #eee;
  --header_color: #333;
  --proficency: lightgrey;
  --button: white;
  --button_background: rgb(146, 146, 146);
  --button_hover: rgb(117, 117, 117);
  --input_background: #f9f9f9;
  --icons_color: none;
}

[data-theme="dark"] {
  --body_background: #222831;
  --body_color: #76abae;
  --body_background_footer: #31363f;
  --header_color: #76abae;
  --proficency: #21252c;
  --button: #76abae;
  --button_background: #21252c;
  --button_hover: #171b20;
  --input_background: #3a3f47;
  --icons_color: invert(63%) sepia(27%) saturate(384%) hue-rotate(135deg)
    brightness(97%) contrast(90%);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #dddddd;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: lightgrey;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
