:root {
  --body_background: #f9f9f9;
  --body_background_end: #cecece;
  --body_color: #242424;
  --particle_color: #242424;
  --bar: #eee;
  --header_color: #333;
  --proficency: lightgrey;
  --button: white;
  --button_background: rgb(146, 146, 146);
  --button_hover: rgb(117, 117, 117);
  --input_background: #f9f9f9;
  --icons_color: none;
}

[data-theme="dark"] {
  --body_background: #222831;
  --body_background_end: #323944;
  --particle_color: #76abae;
  --body_color: #76abae;
  --bar: #31363f;
  --header_color: #76abae;
  --proficency: #21252c;
  --button: #76abae;
  --button_background: #21252c;
  --button_hover: #171b20;
  --input_background: #3a3f47;
  --icons_color: invert(63%) sepia(27%) saturate(384%) hue-rotate(135deg)
    brightness(97%) contrast(90%);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #dddddd;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: lightgrey;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*
  * Light/Dark mode for mobile header hamburger icon since its an SVG image
 */
html[data-theme="light"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23242424' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

html[data-theme="dark"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2376abae' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

html[data-theme="light"] .navbar-toggler {
  border-color: #242424 !important;
}

html[data-theme="dark"] .navbar-toggler {
  border-color: #76abae !important;
}

html[data-theme="light"] .navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem #242424 !important;
}

html[data-theme="dark"] .navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem #76abae !important;
}
